.panel{

    background:#1E293B;

    border-radius:20px;

    padding:25px;

    min-height:700px;

    box-shadow:0 10px 30px rgba(0,0,0,.20);

}

.panel-title{

    text-align:center;

    font-size:2rem;

    font-weight:700;

    margin-bottom:30px;

}

.panel-content{

    color:#94A3B8;

}